<div>
  <h3>Petición proceso título</h3>
  <h4>fecha: <%= date %></h4>
  <strong>Datos cliente</strong>
  <ul>
    <li>address: <%= address %></li>
    <li>email: <%= email %></li>
    <li>fullName: <%= fullName %></li>
    <li>phone: <%= phone %></li>
    <li>postCode: <%= postCode %></li>
  </ul>
  <strong>Datos proceso</strong>
  <ul>
    <li>color: <%= color %></li>
    <li>make: <%= make %></li>
    <li>model: <%= model %></li>
    <li>vin: <%= vin %></li>
    <li>year: <%= year %></li>
  </ul>
</div>